doctype html
html
  head
    title Recipe Grocery List App
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      ol { padding-left: 35px }
      ul { padding-left: 20px; list-style: none; }
  body
    block content
